@charset "UTF-8";

/*Todas as demais medias*/

/* Typical Device Breakpoints
--------------------------------
Pequenas Telas: 769px - 1024px
Celular: 481px - 768px
Tablet: 481px - 768px
Desktop: 1025px - 1200px
TV: 1201px e mais
*/

@media print {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 1201) {
    
}