@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;
}

header {
    background-color: rgba(128, 128, 128, 0.822);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: none;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.74);
}

menu > ul > li > a:hover {
    background-color: gray;
}

i#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
}

i#burguer:hover {
    background-color: rgba(255, 255, 255, 0.671);
    cursor: pointer;
}

main {
    width: 65vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: justify;
}

article p {
    text-indent: 20px;
    margin-bottom: 10px;
}

article > h2 {
    padding-bottom: 20px;
}